.category_card
  width: 100%
  height: auto
  font-family: "Futura PT"
  position: relative

  .img_block
    width: 100%
    height: auto

    img
      display: block
      width: 100%

  .info_block_outside
    position: relative !important
    top: initial!important
    left: initial!important
    bottom: initial!important
    padding: 0 !important
    margin-top: 10px

  .info_block, .info_block_outside
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex
    overflow: hidden
    padding: 30px
    flex-direction: column
    text-transform: uppercase
    text-overflow: ellipsis
    white-space: nowrap

