@import "../components/styles/_vars"

.schema-json-view-container
  background-color: #000000
  max-height: 400px
  overflow-y: auto !important

.schema-json-view-container-full
  background-color: #000000
  max-height: 100%
  overflow-y: auto !important

.custom-scrollbar::-webkit-scrollbar
  width: 0
  height: 0

.custom-scrollbar::-webkit-scrollbar-track
  background-color: #ffffff !important

.custom-scrollbar::-webkit-scrollbar-thumb
  background-color: #ececec !important


.swiper-container-v1
  width: 100%

  .swiper-pagination
    position: absolute
    width: 100% !important
    text-align: center
    top: inherit !important
    left: inherit !important
    bottom: 98px !important
    z-index: 100
    display: flex
    justify-content: center
    background: none !important
    border-radius: 0 !important
    opacity: 1 !important
    align-items: center

    .swiper-pagination-bullet
      width: 5px
      height: 5px
      display: inline-block
      background-color: #f3eee8
      border-radius: 50%
      transform: scale(0.66)
      opacity: 0.4
      margin: 0 4px
      transition: all .3s cubic-bezier($cubic-bezier-lichi)

      &.swiper-pagination-bullet-active
        transform: scale(1)
        opacity: 1 !important

  &.swiper-container-v1-paginate-light
    .swiper-pagination

      .swiper-pagination-bullet
        background-color: #f3eee8
        opacity: .4

  &.swiper-container-v1-paginate-dark
    .swiper-pagination

      .swiper-pagination-bullet
        background-color: #000000 !important
        opacity: .6


  &.swiper-container-v1-paginate-top
    .swiper-pagination
      top: 70px !important
      left: inherit !important
      bottom: inherit !important

  &.swiper-container-v1-paginate-bottom
    .swiper-pagination
      top: inherit !important
      left: inherit !important
      bottom: 70px !important

.saint-laurent-container-v1
  width: calc(1440px - (2 * 112px))
  margin: 0 auto

  @media screen and (max-width: 1399.98px)
    width: calc(100% - (2 * 122px))

  @media screen and (max-width: 768px)
    width: calc(100% - (2 * 20px))

  &.saint_laurent_container_table
    width: calc(100% - (2 * 122px)) !important

  &.saint_laurent_container_mobile
    width: calc(100% - (2 * 50px)) !important

.animation__zoom_in
  animation: zoom-out-in 2s cubic-bezier(0.5, 0, 0, 1)

.animation__zoom_out
  animation: zoom-out 2s cubic-bezier(0.5, 0, 0, 1)

@keyframes zoom-out-in
  from
    transform: scale(1.1)
  to
    transform: scale(1)

@keyframes zoom-out-in-sc
  from
    transform: scale(1.3)
  to
    transform: scale(1)

@keyframes zoom-out
  from
    transform: scale(.9)
  to
    transform: scale(1)

@keyframes zoom-out-sc
  from
    transform: scale(.9)
  to
    transform: scale(1)
